.column {
  max-width: 29%;
  margin: 15px;
  border: 2px solid;
  float: left;
  padding: 5px;
  font-family: sans-serif;
}

img {
  max-width: 100%;
}

h2 {
  text-align: center;
  font-variant: small-caps;
}

.before {
  background-color: ivory;
}

.during {
  background-color: khaki;
}

.after {
  background-color: goldenrod;
}
